.App {
    Display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg-home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f0f0f0;
}

.Container {
    background-color: transparent;
    width: 420px;
    border-radius: 40px;
    padding: 30px 40px;
    border: 2px solid #f0f0f0;
}